html, body {
    margin: 0;
    padding: 0;
    font-size: 9pt;
    line-spacing: 11pt;
}
.navbar {
    font-size: 9pt;
}

.bg-primary {
    background: #00459b;
}

.bg-secondary {
    background: #8698d9;
    color: #fff;
}

.bg-tertiary {
    background: #f0f7ff;
}

.alert-container {
    margin-top: 0pt;
    margin-bottom: 6pt;
}
p {
    margin-bottom: 3pt;
}

.post-type-container {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding:0px;
    width: 40px;
}
.post-content-container {
    display: inline-block;
    margin: 0px;
    padding:0px;
    width: calc(100% - 60px);
}

.post-type {
    display: inline-block;
    background: #00459b;
    color: #fff;
    font-size: 7pt;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1pt 4pt 1pt 4pt;
}

.post-link {
    background: #ff0000;
    color: #fff;
}


/* Modify the backgorund color */
.navbar-custom {
    background-color: #00459b;
}

.side-col {
    padding-top: 3pt;
    text-align: justify;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fff;
}

.nav-link  {
    color: #fff;
}

.btn-custom-navbar {
    background: transparent;
    color: #fff;
    border-color: #fff;
}

h1 .small, .h1 .small
h1 .small a, .h1 .small a {
    font-family: "Open Sans", sans-serif;
    font-size: 60%;
    font-weight: 300;
}

h1 {
    font-size: 16pt;
}

.category {
    margin-left: -15px;
    padding: 9pt 9pt 0pt 9pt;
    margin-bottom: 18pt;
}

.category:nth-of-type(even) {
    background: #f0f7ff;
}
.category:nth-of-type(odd) {
    background: #fff;

}

.category > h2,
.category >.h2,
.category > h2 > a,
.category >.h2 > a{
    margin-top: 5pt;
    font-size: 18pt;
    font-weight: normal;
}

.category > h2 > .small,
.category > .h2 > .small {
    font-size: 50%;
    font-weight: bold;
}

.category > p {
    font-size: 10.5pt;
    line-height: 13pt;
    font-weight: normal;
    text-align: justify;
}

h1.post-title {
    font-size: 12pt;
    line-height: 14pt;
    margin-bottom: 0pt;
}

p.post-byline {
    font-size: 8pt;
    line-height: 10pt;
    margin-bottom: 0pt;
}
.post-meta {
    padding-inline-start: 0px;
    line-height: 10pt;
}
.post-meta li {
    font-size: 8pt;
    float:left;
    display: inline-block;
    list-style-type: none;
    margin-right: 12pt;
}

p.post-replies ul li {
    font-size: 8pt;
    font-weight: 600;
}


.display-none {
    display: none;
}

.post-container {
    background: #fafcfc;
    border: 1px solid #eeeeee;
    border-radius: .25rem;
    margin-bottom: 5pt;
}

.reply-header {
    margin-left: 17pt;
}

.reply-container {
    background: #e7f2fe;
    border: 1px solid #eeeeee;
    border-radius: .25rem;
    margin-bottom: 5pt;
}

.reply-container ul {
    padding-inline-start: 19pt;
}

.reply-container ul li {
    margin-top: 15pt;
    list-style-type: none;
    padding-right: 25%;
}

.reply-container ul li p {
    font-size: 8pt;
    line-height: 13.5pt;
    text-align: justify;
}

.reply-content-container {
    display: inline-block;
    margin: 0px;
    padding:0px;
    width: calc(100% - 17pt);
}



.content-shown {
    height: auto;
}
.content-hidden {
    max-height: 100px;
    overflow: hidden;
}

.url-parsed {
    font-size: 7pt;
    font-color: #000000;
}

button.vote {
    font-size: 11pt;
    position: relative;
    top: -5pt;
    color: #fff;
    margin: 0pt;
    margin-bottom: -12pt;
    padding-right: -5pt;
    margin-right: -0pt;
    background: transparent;
    width: 1em;
    height: 2em;
    border: none;
    float: right;
}
button.vote-down {
    margin-left: -2pt;
    margin-right: 3pt;
}
button.vote:hover {
    color: yellow;
}
button.vote:active {
    color: red;
}

.side-col, .side-col p, .side-col a, .side-col p a {
    color: #fff;
}
.footer {
    background: #00459b;
    padding: 15px;
    color: #fff;
}
